body {
	background-color: #2b2a2a;
}

ul {
	font-family: sans-serif;
	font-size: 25px;
	list-style: none;
	background-color: #373c3f;
	height: 50px;
	padding: 0;
	margin:  0;
}

a {
	color: #fff;
	text-decoration: none;
	line-height: 50px;
	padding: 0 25px;
	border-right: 2px solid #131010;
	transition: .3s all ease;
	display: block;
}

a:hover {
	background-color: #b8b3b2;
}

li {
	float: left;
}
.banner{
	background-color: rgb(141, 185, 221);
	padding: 0;
}
h1{
	padding: 100px;
	margin: 0;
	color: white;
	font-size: 45px;
	text-shadow: 1px 1px 1px #000;
}

.link{
	color: #5d5b5b;
	font-size: 30px;
	font-weight:lighter;
	text-shadow: 0px 0px 0px ;
}
.advantage{
	background-color: rgb(50, 36, 48);
	padding: 0;
	margin: 0;
}

p{
	padding: 100px;
	margin: 0;
	padding: 0;
	color: #a777b1;
	font-size: 40px;
	margin-left: 90px;    
	margin-right: auto;
	height: 195px;
	font-weight:lighter;
	text-shadow: 0px 0px 0px ;
}
.image{
	margin: 0;
	padding: 0;
}
.content{
	background-color: rgba(240, 248, 255, 0.814);
	padding: 0;
	margin: 0;

}
.text{
	color: #459cc4;
	text-shadow: 1px 0px 1px #000;
	font-size: 40px;
	margin-left: 0px;    
	margin-right: auto;
	height: 195px;
	font-weight:bold;
}
h4{
	padding: 100px;
	margin: 0;
	padding: 0;
	color: #262525;
	font-size: 30px;
	margin-left: 90px;    
	margin-right: auto;
	height: 195px;
	font-weight:lighter;
}

